#avatarImg {
  height: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
}
/* 
.custom-input {
  max-width: 200px; 
  max-height: 40px; 
} */

#searchButton {
  max-height: 40px;
}

#repoH3 {
  width: 100%;
}

.hide {
  display: none;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); 
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 20%;
  left: 46%;
  
}

.pagination {
  max-width: 70vw;
  overflow: auto;
}